 # 2.Mean Median and Mode Using Python

# A.Mean

* The Mean is the average value of all the alues in a data set .
* To calculate the mean value of a dataset , we first need  to find the sum of all the values and then divide the sum of all the total number of values

*  Mean = All the values / sum of all total of values


* So here how to calculate the mean using python

In [11]:
# Mean

list1 = [12,16,20,20,12,30,25,23,24,20]

print("Total sum of number ",sum(list1))   # it will do sum of all the number which will be 202
print("Total count of number",len(list1))   # it will count the how many numbers in it 10

mean = sum(list1)/len(list1)
print("The Mean of above is",mean)

Total sum of number  202
Total count of number 10
The Mean of above is 20.2

# B . : Median

* The Median is the Middle vlaue amount all the values in sorted order
* Here we need to calculate the mid-values of all the values in a dataset
* But before calculating the median, we need to arrange all the values in sorted order.
* There are Two different ways of Calculating the Median values:

1. When the total number of values is even : 

 Median = [(n/2)th term +{(n/2)+1 }th] / 2



2. When the total number of values is ODD

Median = {(n+1)/2}th term

In [15]:
# Median

list2 = [12,16,20,20,12,30,25,23,24,20]
list2.sort()

if len(list2)% 2 ==0:
    m1 = list2[len(list2)//2]
    m2 = list2[len(list2)//2 - 1]
    median =(m1 +m2)/2

else:
    median = list2[len(list2)//2]
print(median)

20.0

In [14]:
list2

[12, 12, 16, 20, 20, 20, 23, 24, 25, 30]

In [17]:
list2[len(list2)//2]

20

In [25]:
[len(list2)//2-1]

[4]

In [28]:
m1 = list2[len(list2)//2]
m2 = list2[len(list2)//2 - 1]

In [29]:
m1

20

In [30]:
m2

20

# C . : Mode

* Mode is the most frequently occurring value among all the values.

In [35]:
# Mode

list3 = [12,16,20,20,12,30,25,23,24,20]
frequency = {}
for i in list3:
    frequency.setdefault(i,0)
    frequency[i]+=1
    
frequent = max(frequency.values())
for i, j in frequency.items():
    if j ==frequent:
        mode = i
print(mode)

20

SyntaxError: invalid syntax (3591956311.py, line 1)