# Python introduction

###  Getting Started

In [1]:
12345.12 # Int and Float
2+4

6

In [2]:
" I am jupyter notebook 3545976 @#$"

' I am jupyter notebook 3545976 @#$'

In [4]:
6+3
10*5-2

48

In [5]:
print(6+3)
print(10*5-2)
print(31/5+2.1)

9
48
8.3

In [6]:
type(132)

int

* Basic data types in python : int , float, string(str), boolean ect
    - String can be defned using Single-quotes or double quotes

In [8]:
print("Hello world !")
print("I'm a simple print statement")
print( 3 > 5)

Hello world !
I'm a simple print statement
False

### Variables Types and Operation

In [31]:
name = "Vaibhav Bhalerao"
age = 20
height = 10.5
favorite_sport = "racing"

In [32]:
print(name)
print(type(name))
print(age)
print(type(age))
print(type(height))
print(type(favorite_sport))

Vaibhav Bhalerao
<class 'str'>
20
<class 'int'>
<class 'float'>
<class 'str'>

### Basic Arithmetic Operation

In [12]:
a =25
b = 25
print(a + b)
print(b / a)
print(a**3)  # power
print(25 //4)  # Integer part
print(25%4)  # reminder

50
1.0
15625
6
1

### Comparison Operators

In [16]:
A = 20
B = 25
print(A < B)
print(A >B)
print ( a== b)
print( A!= B)
print(20>=15)

# pritn(10 =20) # Error 
# = is an assignment operaton

True
False
False
True
True

### Logical Operators

In [20]:
print(10 < 12 or 'a' =='b')
print( 10 <12 and 'a'=='b')
print(not 'a'=='b')

True
False
True

### COmbining String with Others Variables:

In [29]:
name = " Vaibhav Bhalerao"
age = 20
print("My name is "+name)  #my name is Vaibhav
print("My name is",name)
print("I'm", age,"years old.")

My name is  Vaibhav Bhalerao
My name is  Vaibhav Bhalerao
I'm 20 years old.

### f- String

In [30]:
line = f"My name is{name}."
print(line)
age = 22
print(f"I'm {age} years old.")

My name is Vaibhav Bhalerao.
I'm 22 years old.

In [29]:
is_student = True
is_employed = False
print(is_student)
print(f"Am I employed?:{is_employed}")

True
Am I employed?:False

### Taking Input from User:

In [31]:
saving = input("what is your current saving? :")
credit = input("How much you have credited?:")
print(type(saving))
print(f"Your old saving was{saving}.\nYour new saving is {saving+credit}.")

what is your current saving? :200
How much you have credited?:1500
<class 'str'>
Your old saving was200.
Your new saving is 2001500.

### Type Conversion
* Above code took the input as strins and hence+ operation printed the numbers concatenated as strings
* To use them as numbers, we need to convert their types

In [32]:
saving =input("What is your current saving?:")
print(type(saving))
saving = int(saving)
print(type(saving))
credit = int(input("How much you have credited?:"))
print(f"Your old saving was{saving}.\nYour new saing is {saving+credit}.")

What is your current saving?:1000
<class 'str'>
<class 'int'>
How much you have credited?:2000
Your old saving was1000.
Your new saing is 3000.

In [34]:
n = float("13.5")
print(n*2)
n1 = "abcd"
print(5 * n1)

27.0
abcdabcdabcdabcdabcd

### Indexing, Negattive Indexing, Length of String

In [35]:
s = "This is a sample string."
print(s)
print(s[0])  # T
print(s[2])  # i
print(s[8])  # a
print(s[3:13])  # s is a sam
print(f"length of the string is {len(s)}.")
print(s[-1])  #.
print(s[-4])  # i
print(s[-(len(s)-1)])  # h

This is a sample string.
T
i
a
s is a sam
length of the string is 24.
.
i
h

### Operation on String:

In [1]:
s = "This is a sample String."
print(s)
print(s.upper())
# s = s.upper()
print(s.lower())
print(s.title())
print(s)

This is a sample String.
THIS IS A SAMPLE STRING.
this is a sample string.
This Is A Sample String.
This is a sample String.

In [2]:
# FInd
print(s.find('a'))
print(s.find('b'))
print(s.find('Sample'))
print(s.find('sample'))

8
-1
-1
10

In [3]:
# Replace

s= "This is a sample String."
print(s.replace('is', 'are'))

print(s)  # Original string remain Unchanged
print(s.replace('Is','are'))   # Not Found due to Case Mismatch

Thare are a sample String.
This is a sample String.
This is a sample String.

In [4]:
# In
# In Keyword check for availability of One String into Another

s = "This is Normal string"
print("is" in s)
print('in' in s)
print('are' in s)

True
True
False

## Conditional Statements

### If-Elif-Else

In [33]:
name = 'Bhalerao'
# name = 'Thokanre'

if name =='Vaibhav':
    print("Valid person. You can enter into the house")
    print("Another Line.")
    a = 2+4
else:
    print("Invalide person ! You aer not allowed to enter the house")

Invalide person ! You aer not allowed to enter the house

In [9]:
#Example - 2
age = 15  # in years

if age <= 1:
    print("You are a Baby")
elif age <=3:
    print("You are a Toddler !")
elif age <= 5:
    print("You are a prescholl child")
elif age <=12:
    print("You are a Gradescholl Child")
elif age <=18 :
    print("You are a teen!")
elif age<= 21:
    print("You are a Young Adult")
elif age <=60 :
    print("You are and Adult")
else:
    print("You are in Your old Age !")

You are a teen!

In [12]:
#Example - 3

year = 2003
is_leap_year = False
if year%100 == 0:
    if year%400 ==0:
        is_leap_year = True
    else:
        is_leap_year = False
elif year% 4 ==0:
    is_leap_year = True
else:
    
    is_leap_year = False
    
if is_leap_year:
    print(f"{year} is leap year.")
else:
    print(f"{year} is not a leap year.")

2003 is not a leap year.

# Range in PYthon

* Syntax  :   range(Start= 0, end, step =1)

In [15]:
n = range(7)

# it returns a sequence of number from 0 to 7-1 (i.e 7 not included)

print(n)
print(list(n))   # More on list order

n = range(5,18,3)
print(list(n))

range(0, 7)
[0, 1, 2, 3, 4, 5, 6]
[5, 8, 11, 14, 17]

## Looping in Python

In [17]:
# Print teh table of 5 :

print(5 *1, end ="; ")
print(5 *2, end ="; ")
print(5 *3, end ="; ")
print(5 *4, end ="; ")
print(5 *5, end ="; ")
print(5 *6, end ="; ")
print(5 *7, end ="; ")
print(5 *8, end ="; ")
print(5 *9, end ="; ")
print(5 *10, end="; ")

5; 10; 15; 20; 25; 30; 35; 40; 45; 50;

### Print Table Using Loop

#### While Loops

In [18]:
i = 1
while i <=10:
    print(5*i, end ="; ")
    i = i +1
print("End of While")

5; 10; 15; 20; 25; 30; 35; 40; 45; 50; End of While

In [24]:
## Shorthand Notation of For Loop
[i for i in range(6,65,6)]

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60]

In [28]:
# Multiplication with String

i = 1
while i <=10:
    print(i*'$')
    i = i+1

$
$$
$$$
$$$$
$$$$$
$$$$$$
$$$$$$$
$$$$$$$$
$$$$$$$$$
$$$$$$$$$$

## List
* it Is colleciton of data. Data can be of same or Different types.
* It is represented by square brackets[] with elements seperated by comma

In [2]:
prices = [120,48,230,34,20,182]
print(prices[0])
print(prices[2])
print(prices[-3])
print(prices[-1])

120
230
34
182

### Methods on List:

In [3]:
print("Beofre Insert:",prices)
print("NO. of elements in the list:", len(prices))
prices.insert(1,300)  # [120,300,48,230,34,20,182]
print("After insert:",prices)
print("No. of elements in the list:",len(prices))
prices.append(400)
print(prices)

Beofre Insert: [120, 48, 230, 34, 20, 182]
NO. of elements in the list: 6
After insert: [120, 300, 48, 230, 34, 20, 182]
No. of elements in the list: 7
[120, 300, 48, 230, 34, 20, 182, 400]

In [4]:
prices.clear()
print(prices)

[]

### Other Methods on list
* list.append()  # Append x to end of list
* list.extend(iterable)  # Append all element of iterable to list
* list.insert(i,x)  # insert x at index i
* list.remove(x)  # Remove first occurance of x from list
* list.pop([i])   # Pop element at index i(defaults to end of list)
* list.clear()    # delete all elemetns from the list
* list.index(x[,start[,end]])   # Return index  of element x
* list.count(x)  # return number of occurances of x in list
* list.reverse()   # Reverse elements of list in-place (no return)
* list.sort(key=None, reverse= False)  # Sort list in-place
* list.copy()   #return a shallow copy of list

In [7]:
num1 = [1,3,5,7,9]
num2 = num1.copy()
print(num2)

num2.append(11)
print(num2)
print(num1)

[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9, 11]
[1, 3, 5, 7, 9]

### Looping on list

In [8]:
num = [1,3,5,7,9]
for i in num:
    print(10*i, end ="; ")
print("End.")

10; 30; 50; 70; 90; End.

### Break & COntinue in Loop

* Break : is used to come out of the loop before it ends by itsel
* Continue Is used to Skip execution of further statements in the loop

In [14]:
num = [2,4,6,8,10,12,14,16,18,20,22,24,26,28,30]
for a in num:
    if 10 < a < 16:
        continue   # print("we skip 12,14")
        
    if a > 24:
        break
    print(a, end="; ")
print("Exit done")

2; 4; 6; 8; 10; 16; 18; 20; 22; 24; Exit done

# Tuple

* it is immutable (Cannot be modified)
* it is represented by Circular brackets()

In [16]:
marks = (73,82,91,78,73,91,91,80)
print(marks)
print(type(marks))
print(marks[0])
print(marks[3])
print(marks[-1])
print(marks[-2])

(73, 82, 91, 78, 73, 91, 91, 80)
<class 'tuple'>
73
78
80
91

In [17]:
# List wihtout brackets is considered as a tuple
num = 20,21,22,23
print(num)
print(type(num))

(20, 21, 22, 23)
<class 'tuple'>

In [20]:
 # marks[0] = 10

#'tuple' object does not support item assignment

#### Method on Tuple
* Count(x) : Returns the number of times 'x' occurs in a tuple
* index(x) : Searches the tuple for 'x' and returns the position of where it was first found

In [23]:
# marks = (73,82,91,78,73,91,91,80)
print(marks.count(91))
print(marks.index(80))

3
7

# Set

* It is a collection of unique elements ( no Duplicate  are stroed)
* It is represend by {}

* Indexing is not applicable on set.
* Elements are stored in any order (they are unorderd)

* Print(ids[0])  # Error: 'set' object is not subscriptable

In [26]:
ids ={12,13,14,15,13,12,13,15,13}       # IT will not take duplicate values
print(ids)
print(type(ids))

{12, 13, 14, 15}
<class 'set'>

In [31]:
ids.add(19)
print(ids)
ids.add(9)
print(ids)

{10, 12, 13, 14, 15, 19}
{9, 10, 12, 13, 14, 15, 19}

### Methods on Set:

* add()  # Adds an elements to the set
* clear()  # removes all the elements from the set
* copy() # returns a copy of the set
* difference() # returns a set containing the difference between two or more sets
* difference_update()  # Removes the items in this set that are aslo included in another specified set
* discard()  # Remvoe the specified item
* intersection()  # returns a set, that is the intersection of two or more sets
* intersection_update()  # Remove teh titems in this set that are not present in other , specified set(s)
* isdisjoint()  # Returns whether two sets have a intersection or not
* issubset()  # returns  Whether another  se contains another set or not
* isuperset()  # Returns whether this set contains another set or not
* pop() # Remove an elements from the set
* symmertic_differnce() # Retuns a set with the symmetrice differnce of two sets
* symmertic_differnce_udpate()  # insert the symmetric differnce from this set and another 
* union()  # return a set containing the union of sets
* update()  # update the set with another set, or any other iterable

## Dictionary

* it is a collection of Key-value pairs.
* Keys are unique in the dictionary, value can be repeated
* They are represented like { key1: value1, key2: value2}

## Methods on Dictionary
* Clear()   # removes all teh elements from the dictionary
* copy()   # Returns a copy of the dictionary
* fromkeys() # Returns a dictionary with teh specified keys and value
* get()  # Returns the value of specified key
* items()   # Returns a list containing a tuple for each key value pair
* keys()    # returns a list containng the dictionary's keys
* pop()   #remvoes the elemetn with the specified key
* popitem()  # Removes teh last insertd key-value pair
* setdefault()   # returns the value of the specified key. If the key does not exist : insert the key, with the specified value
* update() # update the dictionary with the specifed key-value pairs
* value()  # Returns a list of all the values in the dictionary

In [36]:
marks = {"physic": 81, "chemistry": 85, "maths": 78, "english":81}  # roll_number : name
print(marks["maths"])  # Access by key
# print(marks[0])  # such type of indexing is not applicable in dictionary

print(marks.keys())

print(marks)
marks["maths"]=90
print(marks)
print(marks.items())

78
dict_keys(['physic', 'chemistry', 'maths', 'english'])
{'physic': 81, 'chemistry': 85, 'maths': 78, 'english': 81}
{'physic': 81, 'chemistry': 85, 'maths': 90, 'english': 81}
dict_items([('physic', 81), ('chemistry', 85), ('maths', 90), ('english', 81)])

In [39]:
for k ,v in marks.items():
    print(f"key is {k} and value is {v}")

key is physic and value is 81
key is chemistry and value is 85
key is maths and value is 90
key is english and value is 81

## Funciton in Python 


* In-Built funciton 
* User- Defined Function
* Module Function

### In-Built Function

In [1]:
print("I'm an in-built function!")
int(4.5)

I'm an in-built function!

4

###  Module Functions

In [9]:
# import math
# math.sqrt(100)
from math import sqrt as square_root
square_root(50)

7.0710678118654755

In [25]:
from math import lcm

lcm(2,4,3)

12

In [19]:
# To See all teh funciton defiend in a molde, use dir(module_name)
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

### User-defined Function

syntax : 

    def function_name(parameters):
        function body
        return something  # default return value is null
        
     Note: Function should be defined(and a module should be imported) Before it is being used(called).

In [26]:
def add(a,b):
    return a + b

print(add(10,12))

22

In [28]:
def say_hello(name):
    print(f"Hello {name}!")
say_hello("vaibhav")
print(say_hello("Bhalerao"))

Hello vaibhav!
Hello Bhalerao!
None

## Classed  and Objects

* class is the most fundmental piece of python.The reason lays behind the concept of object oriented programming
* Everything in Python is an object such as interger, lists, dictionaries, functions and so on. Every object has a type and the object types are created using classes
 
* Classes have:
 - Data Attributes : Define what is needed to create an instance of a class
 - Methods (i.e procedural attributes:) Define how to intract with instances of a class
 - Methods are just like functions but they belong to a particular class. The attributes can be considered as an interface to interact with a class.

* An advantage of classes is that we do no need to know how it is created. We can just use it through data attributes and methods.


## Syntax of Class Definition:

        class class_name(parent_class):
            def __int__(self, parameters):
                #attributes
                # attributes initialisation
              #class method

In [39]:
class Person():
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def get_name(self):
        return self.name
    def update_name(self,new_name):  # by default it returns null(none)
        self.name = new_name
        
p = Person("Amit shah", 35)

print(p.get_name())
print(p.update_name("Amisha shah"))
print(p.get_name())

Amit shah
None
Amisha shah

## Class Inheritance:

In [40]:
class person():
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def get_name(self):
        return self.name
    def update_name(self,new_name):
        self.name = new_name
        
class Student(person):
    def __init__(self, name, age, roll_number):
        super().__init__(name,age)
        self.roll_number = roll_number
        
    def get_roll_number(self):
        return self.roll_number
    
p = Person("Amish shah",35)
s = Student("Sumit Shah",16, 21003)

print(p.get_name())
print(p.update_name("Amit shar"))
print(p.get_name())

#print(p.get_rolll_number())   # Error : 'Person' Object has no attribute  'get_roll_number'

print(s.get_name())
print(s.get_roll_number())

Amish shah
None
Amit shar
Sumit Shah
21003