 # For Loop

In [1]:
# Example - 1
# Print each fruit in a fruit list:

language = ["Java","javascript","HTML","CSS"]

for x in language:
    print(x)

Java
javascript
HTML
CSS

In [4]:
# Example - 2
#  Loop through the letters in the word"python":

for x in "python":
    print(x)

p
y
t
h
o
n

In [7]:
# Example - 3
# Exit the loop When x is "Css":

language = ["js","HTML","Css","java","Python"]
for x in language:
    print(x)
    if x =="Css":
        break

js
HTML
Css

In [9]:
# Example - 4
# exit the loop when x is "html", but this time the break comes before the print:

language = ["js","CSS","htM","PYthon","html","java"]
for x in language:
    
    if x =="html":
        break
    print(x)

js
CSS
htM
PYthon

In [5]:
# Example - 5
# Do Not Print css

language = ["js","Html","css","java","Python"]
for x in language:
    
    if x =="css":
        pass
    print(x)

js
Html
css
java
Python

In [8]:
# Example - 6 
# Using the Range() function:

for x in range(5):
    print(x)

0
1
2
3
4

In [16]:
# Example - 7
# using the Start Parameter:

for x in range(1,10,2):
    print(x)

1
3
5
7
9

In [18]:
# Example - 8
# Increment the sequnce with 3 (default is 1)

for x in range(2,30,3):
    print(x)

2
5
8
11
14
17
20
23
26
29

In [19]:
# Example - 9
# Print all numbers from 0 to 5, and print a message  when the loop has ended:

for x in range(6):
    print(x)
else:
    print("Finally Finished !")

0
1
2
3
4
5
Finally Finished !

In [24]:
# Example - 10
# Break the loop when x is 3 and see what happens with the else block

for x in range(7):
    if x==3:
        break
    print(x)
else:
    print("Loop is stoped at 3")

0
1
2

In [40]:
# Example - 11
# print each adjective for every fruit:

num = [1,2,3]
name =["Tom","ram","yash"]

for x in num:
    for y in name:
        print(x,y)

1 Tom
1 ram
1 yash
2 Tom
2 ram
2 yash
3 Tom
3 ram
3 yash

In [44]:
# Example - 12
# Program to find the sum of all number  stored in a list

num = [1,2,3,4,5,6,7,8,9,10]
sum = 0

for x in num:
    sum = sum + x
print("The sum is",sum)

The sum is 55

In [47]:
# Example - 13

print(range(10))
print(list(range(10)))
print(list(range(2,8)))
print(list(range(2,20,3)))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7]
[2, 5, 8, 11, 14, 17]

In [51]:
# Example - 14
# Program to Iterate through a list using indexing

lang = ["java","Html","css","python"]

for i in range(len(lang)):
    print("I Like",lang[i])

I Like java
I Like Html
I Like css
I Like python

In [54]:
# Example - 15

digits = [0,1,5]

for i in digits:
    print(i)
else:
    print("No items left")

0
1
5
No items left

In [64]:
# Example - 16

# program to display students's mark form record

student_name ="rahs"

marks ={"james": 90 ,"june": 50,"suraj":55, "Yahs":66}

for student in marks:
    if student == student_name:
        print(marks[student])
        break
else:
    print("No entry with that name")

No entry with that name

In [2]:
# Example - 17
# Python Program to Illustrate with While Loop

count = 0
while (count<5):
    count = count +1
    print("I love Python")

I love Python
I love Python
I love Python
I love Python
I love Python

In [1]:
# Example - 18
# Python progra mto illustrate 
# Combining else with while

count = 0
while (count <3):
    count= count +1
    print("I love python")
else:
    print("In Else Block")

I love python
I love python
I love python
In Else Block

In [2]:
# Example - 19
# Python program to Illustrate
# Single statement while block

count =5 
while(count == 3):print("Hello world")

In [3]:
# Example - 20
# Python program to illustrate # Iterating Over range 0 to n-1

n = 4
for i in range(0,n):
    print(i)

0
1
2
3

In [8]:
# Example - 21
# Python Progarm to Illustrate # iterating Over a list

print("List Iteration")
I =["Java","HTML","CSS"]
for i in I:
    print(i)
    
    
# Iterating Over A tuple(Immutable)
print("\n tuple Iteration")
t =("Welcome","To","Python")
for i in t:
    print(i)
    
# Iterating OVer a string
print("\n String Iteration")
s ="Geeks"
for i in s:
    print(i)
    
#Iterating OVer Dictionary
print("\nDictionary Iteration")
d = dict()
d['xyz'] = 123
d['abc'] = 345

for i in d:
    print("%s %d" %(i,d[i]))
    
# Iterating OVer A set

print("\n Set Iteration")
set1 = {1,2,3,4,5,6}
for i in set1:
    print(i)

List Iteration
Java
HTML
CSS

 tuple Iteration
Welcome
To
Python

 String Iteration
G
e
e
k
s

Dictionary Iteration
xyz 123
abc 345

 Set Iteration
1
2
3
4
5
6

In [9]:
# Example - 22
# Python Program to Illustrate
# Iterating by Index

list =["Welcome","to","Python","World"]
for index in range(len(list)):
    print(list[index])

Welcome
to
Python
World

In [10]:
# Example - 23
#Python to Illustrate to COmbining else with for

list = ["ram",'shyam','rom','gan']

for index in range(len(list)):
    print(list[index])
else:
    print("inside Else Block")

ram
shyam
rom
gan
inside Else Block

In [14]:
# Example - 24
# Python Program to Illustrate nested for Loops in Python


for i in range(1,5):
    for j in range(i):
        print(i,end='')
    print()

1
22
333
4444

In [26]:
# Example - 25

for letter in "Hello":
    if letter =='e' or letter =='l':
        continue
    print("CUrrent Letter:",letter)
    var = 20

CUrrent Letter: H
CUrrent Letter: o

In [30]:
# Example - 26

for letter in "Welcome":
    if letter =='e' or letter =='c':
        break
print("Current Letter:",letter)

Current Letter: e

In [32]:
# Example -27

for letter in "welcome":
    pass
print(" Last Letter:",letter)

 Letter: e

In [34]:
# Example - 28
# A simple for loop example 

name = ["tom","neo","daya"]

for a in name:
    print(a)

tom
neo
daya